<p>everything here is mine unless it's not | hosted on <a href="https://neocities.org/">neocities</a> | <a href="https://github.com/boombapqaz/blog">src</a> | generated with <a href="https://www.11ty.dev/">11ty</a> | © 2024 Me.</p>